
.idea/misc.xml
*.xml
*.xml
*.iml
.DS_Store
.old/all_hour.csv
.old/MainWindow_Layout.pages
.old/qt_python_data_visualization_tutorial_3.py
.old/qt_python_data_visualization_tutorial_4.py
.old/qt_python_data_visualization_tutorial_5.py
.old/qt_python_data_visualization_tutorials.py
.old/qt_python_data_visualization_tutorials_2.py
src/.ipynb_checkpoints/Playground-checkpoint.ipynb
src/10kPCP_Earth2Mars.txt
src/10kPCP_Mars2Earth.txt
src/__pycache__/main_window_ui.cpython-37.pyc
src/__pycache__/sonet_pcp_filter_qt.cpython-37.pyc
src/__pycache__/sonet_pcp_filter_qt_ui.cpython-37.pyc
src/__pycache__/sonet_spacecraft.cpython-37.pyc
src/Playground.ipynb
*.pyc
src/__pycache__/Utils.cpython-37.pyc
.old/Playground0_qlistview_and_qtableview.py
/.old/#1.gif
/.old/Playground1_qlistview_qtableview_qtreeview.py
/.old/#1_Attempt_01.py
*.pyc
*.pyc
src/__pycache__/Utils.cpython-37.pyc
